@model App_web_Tatry.Entities.Szlak

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Szlak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dlugosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dlugosc)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzasPrzejscia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzasPrzejscia)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoziomTrudnosci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoziomTrudnosci)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KolorSzlakow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KolorSzlakow)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zdjecia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zdjecia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
