@model IEnumerable<App_web_Tatry.Entities.Szlak>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dlugosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzasPrzejscia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoziomTrudnosci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KolorSzlakow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zdjecia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(model => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(model => item.Dlugosc)
            </td>
            <td>
                @Html.DisplayFor(model => item.CzasPrzejscia)
            </td>
            <td>
                @Html.DisplayFor(model => item.PoziomTrudnosci)
            </td>
            <td>
                @Html.DisplayFor(model => item.KolorSzlakow)
            </td>
            <td>
                @Html.DisplayFor(model => item.Zdjecia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
